.profile-line
{
    margin:-10px !important;
    font-weight: 250px!important;
    letter-spacing: .3px!important;
    text-transform: uppercase!important;
    color: black !important;;
}

.login_heading {

    text-align: center;

    font-weight:bold;

}

.login_form {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.login_email {
    margin-top: 20px!important;
    border:2px solid blue;
    padding: 5px;
    width: 250px;
    border-radius:100px;
    font-weight:bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.login_password {
    margin-top: 20px!important;
    border:2px solid blue;
    padding: 5px;
    width: 250px;
    border-radius:100px;
    font-weight:bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.login_submit {
    margin-top: 20px!important;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px;
    width: 100px;
    font-weight: 600;
    outline: none;
    border:0px white;
    border-radius: 10px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}