.card{
    box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
}


#lbox1{ 
    text-align: left;
    border-style: solid ;
    border-width: 0.1px;
    border-color: lightgrey;
    border-bottom: 0.05px;
}

#lbox2{ 
    text-align: left;
    border-style: solid ;
    border-width: 0.1px;
    border-color: lightgrey;
    border-bottom: 1px;
}

input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 10px;
  }

.paginationBttnss{
width: 90%;   
height: 30px;
list-style: none;
display:flex;
justify-content: center;
}

.paginationBttnss a{
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: #2b2eff;
}
   
.paginationActive a{
    color: white;
    background-color: #2b2eff;
}

.cartbuttonnn{
    margin:5px;
    margin-left:20px;
    float: left;
}

.card-img-top{
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.button-18:focus { 
    background-color: #f52b2b;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #e00a0a;
    color: rgba(212, 2, 2, 0.945);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(247, 45, 45, 0.08);
    color: rgba(245, 121, 121, 0.3);
  }