

.cart>h1{

    text-align: center;
    padding: 20px;
 
}

.proceed_checkout_button{
    padding: 6px 12px;
    margin-left: 10px;
    float: right;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius:0.25rem
}

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  
  .cards {
    display: flex!important;
    flex-direction: column!important;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
     gap: 2rem; 
    margin: 4rem 5vw;
    padding: 0;
  }
  
  .card {
    position: relative;
    display: block;
  
    height: 500px;
    width: 400px;  
    border-radius: 18px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
    background-color:#E1E1EB;
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
    background-color:#E1E1EB;
    color: black!important;
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: black !important;
  }
  .card__title:hover{
    color: black !important;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: 1em;
    color: black !important;
    font-weight: 70px!important;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    background-color:#E1E1EB;
  }    

  .button-18 {
    align-items: center;
    background-color: #f54d4d;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  
  .button-18:focus { 
    background-color: #fff;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #e00a0a;
    color: rgba(212, 2, 2, 0.945);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(247, 45, 45, 0.08);
    color: rgba(245, 121, 121, 0.3);
  }